---

ansible_ssh_private_key_file: ~/gcp/id_rsa
ssh_args: '-o ProxyCommand="ssh -o IdentityFile={{ ansible_ssh_private_key_file }} -W %h:%p -q {{ ansible_user }}@{{ groups.bastion[0] }}"'
# Apply proxy ssh arguments when remote host has no public IP address
ansible_ssh_common_args: "{{ inventory_hostname | ipaddr('private') | ternary(ssh_args, '') }}"
ansible_port: 22
