---

- name: Cloud provider base configuration creation
  hosts: localhost
  connection: local
  gather_facts: no
  tags:
    - create
    - base
    - base_create

  tasks:

    - name: GCP block
      block:

        # Use Ansible to create bucket for storing terraform remote state files
        # TODO: May move this to terraform as it's always showing "changed" - investigate why first
        - name: Create terraform backend storage bucket
          gcp_storage_bucket:
            name: "{{ gcp_data['project_name'] }}-tfstate"
            location: "{{ project_region }}"
            versioning:
              enabled: yes
            project: "{{ gcp_data['project_name'] }}"
            auth_kind: "{{ gcp_data['cred_kind'] }}"
            service_account_file: "{{ gcp_data['cred_file'] | expanduser }}"
            state: present

        - name: Deploy base cloud configuration resources
          vars:
            service_name: base
          terraform:
            project_path: "{{ inventory_dir |
              default(ansible_inventory_sources[0])
              }}/../terraform/{{ cloud_provider }}/{{ service_name }}"
            state: present
            force_init: yes
            lock: yes
            variables:
              cred_file: "{{ gcp_data['cred_file'] | expanduser }}"
              project_name: "{{ gcp_data['project_name'] }}"
              region_name: "{{ project_region }}"
              network_name: "{{ project_data['network']['name'] }}"
            backend_config: "{{ tf_backend_config }}"

      when:
        - cloud_provider is defined
        - cloud_provider == 'gcp'

  # TODO: necessary here?
  post_tasks:

    - name: Refresh inventory to ensure new instances exist in inventory
      meta: refresh_inventory
