---

- name: Include vars for cloud provider
  include_vars:
    file: "{{ cloud_provider }}.yml"
    name: "{{ cloud_provider }}"

- name: Dump gcp vars
  debug:
    var: gcp

- name: Destroy instance
  gcp_compute_instance:
    name: "{{ gcp['arena'] }}-vm"
    project: "{{ gcp['project'] }}"
    zone: "{{ gcp['zones'][0] }}"
    auth_kind: "{{ gcp['cred_kind'] }}"
    service_account_file: "{{ gcp['cred_file'] }}"
    scopes: "{{ gcp['scopes'] }}"
    state: absent
  register: instance

- name: Destroy external address
  gcp_compute_address:
    name: "{{ gcp['arena'] }}-address"
    region: "{{ gcp['region'] }}"
    project: "{{ gcp['project'] }}"
    auth_kind: "{{ gcp['cred_kind'] }}"
    service_account_file: "{{ gcp['cred_file'] }}"
    scopes: "{{ gcp['scopes'] }}"
    state: absent
  register: address

- name: Destroy firewall rules
  gcp_compute_firewall:
    name: "{{ gcp['arena'] }}-{{ fw_item['name'] }}"
    project: "{{ gcp['project'] }}"
    auth_kind: "{{ gcp['cred_kind'] }}"
    service_account_file: "{{ gcp['cred_file'] }}"
    state: absent
  loop: "{{ gcp['fw_data'] }}"
  loop_control:
    loop_var: fw_item

- name: Destroy network
  gcp_compute_network:
    name: "{{ gcp['arena'] }}-network"
    project: "{{ gcp['project'] }}"
    auth_kind: "{{ gcp['cred_kind'] }}"
    service_account_file: "{{ gcp['cred_file'] }}"
    scopes: "{{ gcp['scopes'] }}"
    state: absent
  register: network

