---

- name: Cloud provider Vault deployment
  hosts: localhost
  connection: local
  gather_facts: no
  tags:
    - create
    - vault
    - vault_create

  tasks:

    # Include tasks for writing terraform vars to file as workaround for
    # https://github.com/ansible/ansible/issues/51687
    # TODO: Remove this task and the included_tasks file when
    # issue is fixed
    - name: "Include terraform tasks"
      vars:
        service_name: vault
        tf_state: present
        tf_vars:
          service_name: "{{ service_name }}"
          region_name: "{{ project_region[cloud_provider] }}"
          network_name: "{{ project_data['network']['name'] }}"
        tf_vars_all: "{{ tf_cred_data[cloud_provider] |
          combine(tf_vars) |
          combine(project_data['services'][service_name]) }}"
      include_tasks:
        file: "{{ inventory_dir |
          default(ansible_inventory_sources[0])
          }}/../tasks/terraform.yml"

    # TODO: Uncomment task when passing variables to terraform issue is fixed
    # https://github.com/ansible/ansible/issues/51687
    # - name: Deploy Vault cloud configuration resources
    #   vars:
    #     service_name: vault
    #     tf_vars:
    #       service_name: "{{ service_name }}"
    #       region_name: "{{ project_region[cloud_provider] }}"
    #       network_name: "{{ project_data['network']['name'] }}"
    #     tf_vars_all: "{{ tf_cred_data[cloud_provider] |
    #       combine(tf_vars) |
    #       combine(project_data['services'][service_name]) }}"
    #   terraform:
    #     project_path: "{{ inventory_dir |
    #       default(ansible_inventory_sources[0])
    #       }}/../terraform/{{ cloud_provider }}/{{ service_name }}"
    #     state: present
    #     force_init: yes
    #     lock: yes
    #     variables: "{{ tf_vars_all }}"
    #     backend_config: "{{ tf_backend_config[cloud_provider] }}"
    #   register: tf_outputs

      when:
        - cloud_provider is defined
        - cloud_provider == 'gcp'

    - name: Display Terraform outputs
      debug:
        msg: "{{ item['value']['value'] }}"
      loop: "{{ tf_outputs['outputs'] | default({}) | dict2items }}"
      loop_control:
        label: "{{ item['key'] }}"
      when: not item['value']['sensitive']

  post_tasks:

    - name: Refresh inventory to ensure new instances exist in inventory
      meta: refresh_inventory

- name: Wait for connectivity to new hosts
  hosts: vault
  gather_facts: no
  tags:
    - create
    - vault
    - vault_create

  tasks:

    - name: Wait for host connectivity
      wait_for_connection:
