---

- name: Cloud provider Vault start
  hosts: vault
  become: yes
  tags:
    - never
    - vault_start

  tasks:

    - name: Start vault cloud instances
      vars:
        service_name: vault
      include_role:
        name: ansible-role-vault-start
