---

- name: Manage Vault cloud configuration
  hosts: localhost
  connection: local
  gather_facts: no

- import_playbook: vault_create.yml
- import_playbook: vault_remove.yml
- import_playbook: vault_stop.yml
- import_playbook: vault_install.yml
- import_playbook: vault_start.yml
- import_playbook: vault_init.yml
- import_playbook: vault_unseal.yml
- import_playbook: vault_configure.yml
- import_playbook: vault_approle.yml
- import_playbook: vault_destroy.yml
