---

- name: Manage Vault cloud configuration
  hosts: localhost
  connection: local
  gather_facts: no

- import_playbook: vault_create.yml
- import_playbook: vault_install.yml
- import_playbook: vault_destroy.yml
