ui = {{ vault_ui }}
disable_mlock = {{ vault_mlock_disable | default('false') }}

listener "tcp" {
  address         = "0.0.0.0:{{ vault_port }}"
  cluster_address = "{{ vault_addr }}:{{ vault_cluster_port }}"
  tls_disable     = "{{ vault_tls_disable | bool | lower }}"
{% if not vault_tls_disable | bool %}
  tls_key_file    = "{{ vault_privkey }}"
  tls_cert_file   = "{{ vault_certfile }}"
{% endif %}
}

storage "raft" {
  path    = "{{ vault_data_path }}/"
  node_id = "{{ hostvars[inventory_hostname]['ansible_hostname'] }}"
{% for peer in ansible_play_hosts_all | reject('equalto', inventory_hostname) | list %}
  retry_join {
    leader_api_addr         = "{{ vault_protocol }}://{{ hostvars[peer]['ansible_fqdn'] }}:{{ vault_port }}"
{% if not vault_tls_disable | bool %}
    leader_ca_cert_file     = "{{ hostvars[peer]['cert_slurp']['source'] }}"
    leader_client_cert_file = "{{ vault_certfile }}"
    leader_client_key_file  = "{{ vault_privkey }}"
{% endif %}
  }
{% endfor %}
}

api_addr     = "{{ vault_protocol }}://{{ vault_addr }}:{{ vault_port }}"
cluster_addr = "{{ vault_protocol }}://{{ vault_addr }}:{{ vault_cluster_port }}"
