---

- name: Cloud provider deployment
  hosts: localhost
  connection: local
  gather_facts: no
  tags:
    - create

  roles:
 
    - name: Deploy cloud instance
      role: ansible-role-create-instance

# TODO: Remove if testing proves unrequired
#    - name: Remove existing host entry from known_hosts
#      known_hosts:
#        name: "{{ address['address'] }}"
#        path: ~/.ssh/known_hosts
#        state: absent

  post_tasks:

    - name: Wait for things to settle down
      wait_for:
        timeout: 15

    - name: Refresh inventory to ensure new instances exist in inventory
      meta: refresh_inventory

