---

- name: Cloud provider GitLab deployment
  hosts: localhost
  connection: local
  gather_facts: no
  tags:
    - create

  tasks:

    - name: Deploy gitlab cloud instance
      include_role:
        name: ansible-role-gitlab-create

  post_tasks:

    - name: Refresh inventory to ensure new instances exist in inventory
      meta: refresh_inventory

