---

- name: Manage site configuration
  hosts: localhost
  connection: local
  gather_facts: no

- import_playbook: gateway/gateway.yml
- import_playbook: gitlab/gitlab.yml
- import_playbook: vault/vault.yml
