---

- name: Manage site configuration
  hosts: localhost
  connection: local
  gather_facts: no

- import_playbook: base/base_create.yml
- import_playbook: bastion/bastion.yml
- import_playbook: gitlab/gitlab.yml
- import_playbook: vault/vault.yml
- import_playbook: base/base_destroy.yml